@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply font-secondary;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-primary;
  }
}

.swiper-button-next,
.swiper-button-prev {
  position: static !important;
  display: inline-block !important;
  width: 55px !important;
  height: 55px !important;
  background: #e33761;
  border-radius: 50%;
  margin: 20px 10px !important;
  text-align: center !important;
  line-height: 55px !important;
  border-width: 2px;
  border-style: solid;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px !important;
  color: white;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  background: #fff !important;
  border-color: #e33761 !important;
}

.swiper-button-next.swiper-button-disabled:after,
.swiper-button-prev.swiper-button-disabled:after {
  color: #e33761 !important;
}

.swiper-slide-active {
  border: 1px solid #e33761;
  border-radius: 8px;
}

/* Buttons */
.btn {
  @apply px-8 py-3  font-bold capitalize;
}
.btn-blue {
  @apply bg-primary-dark-100 text-white;
}
.btn-gradient {
  @apply bg-gradient-to-br from-primary-100 to-primary-200 text-white;
}

.btn-primary-100 {
  @apply bg-primary-100 text-white;
}

.outlined-primary-100 {
  @apply border-2 border-primary-100 text-primary-100 hover:bg-primary-100  hover:text-white;
}

.btn-primary-200 {
  @apply bg-primary-200 text-white;
}

.outlined-primary-200 {
  @apply border-2 border-primary-200 text-primary-200 hover:bg-primary-200 hover:text-white;
}

.btn-primary-300 {
  @apply bg-primary-300 text-white;
}

.outlined-primary-300 {
  @apply border-2 border-primary-300 text-primary-300 hover:bg-primary-300 hover:text-white;
}
